<style>
    .container__cards {
        margin-top: 20px;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 10px;
    }

    .card {
        max-width: 250px;
    }
</style>
{{>navigation}}
<h1 class="text-center mt-5">Listado de Notas</h1>
<div class="container">

    <a href="/note" class="btn btn-primary">
        <i class="fas fa-plus"></i>
    </a>


    <div class="container__cards">
        {{#each notes}}
        <div class="card">
            <div class="card-header text-center">
                {{title}}
            </div>
            <div class="card-body">
                {{description}}
            </div>
            <div class="card-footer ">

                <button class="btn btn-danger" onclick="alertDelete({{id}})"><i class="fas fa-trash"></i></button>
                <a class="btn btn-primary" href="/note/edit/{{id}}"><i class="fas fa-pencil-alt"></i></a>
            </div>
        </div>
        {{/each}}

    </div>

</div>


<script>
  
    function alertDelete(id) {
        Swal.fire({
            title: '¿Esta seguro qué desea eliminar la nota?',
            text: "Los cambios no pueden ser revertidos",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#198754',
            cancelButtonColor: '#dc3545',
            confirmButtonText: 'Aceptar',
            cancelButtonText: 'Cancelar',
            reverseButtons: true
        }).then((result) => {
            if (result.value) {
                deleteNote(id)

            }
        })
    }
    function deleteNote(id) {
        window.location.href = `note/delete/${id}`;
    }

</script>