   <div class="card">
        <div class="card-header">
            titulo
        </div>
        <div class="card-body">
            fdas
        </div>
        <div class="card-footer">

            <button class="btn btn-danger">Eliminar</button>
            <button class="btn btn-primary">Editar</button>
        </div>
    </div>