<div class="container">
    <form action="/signin" method="POST">
        <div class="card m-auto mt-5" style="width: 500px;">
            <div class="card-header">
                Ingresar
            </div>
            <div class="card-body">
                <div class="mb-3">
                    <label for="">Usuario</label>
                    <input type="text" class="form-control" name="username" autocomplete="off" >
                </div>

                <div class="mb-3">
                    <label for="">Contraseña</label>
                    <input type="password" class="form-control" name="password" autocomplete="off" >
                </div>
                <div class="mb-2">

                <a href="/signup" >Registrarse</a>
                </div>
                <div class="d-grid gap-2">

                    <button class="btn btn-primary" type="submit">Ingresar</button>
                </div>
            </div>
        </div>

    </form>
</div>